@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/* Add to your globals.css */
@keyframes subtle-zoom {
  from {
    transform: scale(1.02);
  }
  to {
    transform: scale(1.05);
  }
}

.animate-subtle-zoom {
  animation: subtle-zoom 20s ease-in-out infinite alternate;
}

/* ServiceArea.module.css */
.map {
  fill: #363435;
  transition: all 0.3s ease;
}

.map:hover {
  fill: #009C1D;
}

.serviceArea {
  fill: #009C1D;
}

.highlight {
  fill: #E25100;
  opacity: 0.1;
}

/*Change scroll amount with mouse wheel*/
html {
  scroll-behavior: smooth;
}